@using Contracts.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Personal data</h1>
</div>

<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Sign in</h3>
            return;
        }        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Login
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        GroupStatus
                    </th>
                    <th>
                        StateStatus
                    </th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DateCreate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.GroupStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.StateStatus)
                    </td>
                </tr>
                
            </tbody>
        </table>
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <script>alert("@ViewBag.Message");</script>
        }
    }
</div>