@using Contracts.ViewModels
@model List<UserViewModel>
@{
    ViewData["Title"] = "Users";
}
<div class="text-center">
    <h1 class="display-4">Users</h1>
</div>


<div class="text-center">
@{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Login
                </th>
                <th>
                    Password
                </th>
                <th>
                    Created
                </th>
                <th>
                    Group
                </th>
                <th>
                    State
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateStatus)
                    </td>
                </tr>
            }
        </tbody>
    </table>
        <form method="post">
            <div class="text-center">
                <h1 class="display-4">Delete user:</h1>
            </div>
            <select id="user" name="user" class="form-control" asp-items="@(new SelectList(@ViewBag.Users,"ID", "Login"))"></select>
            <div class="col-4"><input type="submit" value="Delete" class="btn btn-primary" /></div>           
        </form>
        
}
</div>